<!DOCTYPE html> <html lang="en" xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/asignarmaestro}" th:object="${curso}" method="post">
<label for="id_maestro">id_maestro</label>
<input type="text" th:field="*{id_maestro}" id="id_maestro" placeholder="id_maestro">
<label for="id_curso">id_curso</label>
<input type="text" th:field="*{id_curso}" id="id_curso" placeholder="id_curso">
    <input type="submit" value="Asignar">
</body>
</html>