<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VICTOR</title>
</head>
<body>
<p>ALUMNOS</p>
<a href="/form"> <input class="button" type="button" value="AGREGAR USUARIO"> </a>
<br>
<a href="/eliminaralu"> <input class="button" type="button" value="ELIMINAR USUARIO"> </a>
<br>
<a href="/inscribir"> <input class="button" type="button" value="ASIGNAR CURSO A ALUMNO"> </a>
<br>
<a href="/buscarex"> <input class="button" type="button" value="ACTUALIZAR EXPEDIENTE"> </a>
<br>
<a href="/informacion"> <input class="button" type="button" value="INFORMACION ALUMNO"></a>

<p>PROFESORES</p>
<a href="/formprofe"> <input class="button" type="button" value="AGREGAR PROFESOR"> </a>
<br>
<a href="/eliminarprofe"> <input class="button" type="button" value="ELIMINAR PROFESOR"> </a>
<br>
<a href="/informacionprofe"> <input class="button" type="button" value="INFORMACION DE PROFESOR"></a>

<p>CURSO</p>
<a href="/formcurso"> <input class="button" type="button" value="CREAR CURSO"> </a>
<br>
<a href="/asignar"> <input class="button" type="button" value="ASIGNAR MAESTRO A UN CURSO"> </a>
<br>
<a href="/buscarcursoal"> <input class="button" type="button" value="PONER CALIFICACION"></a>
<br>
<a href="/informacioncurso"> <input class="button" type="button" value="INFORMACION DE CURSO"></a>









</body>
</html>